
@{
    ViewData["Title"] = "ContactUs";
}

<div class="banner-slider-wrapper overflow-hidden ls-direction-fix ls-overflow-visible">
    
    <div class="no-pad project-detail-info fullscreen-content general-page ">
        <div  style="background-color: #231F20; margin-bottom: 3.5%" class="overlay-layer"></div>
        <div class="container-fluid full-height full-height-sm ">

            <div class="row  full-height text-center  table-all" style="margin-top: 15%">
                <div class="col-sm-12 project-short-info full-height full-height-sm table-cell-all table-cell-all-vertical">

                    <h3 class="heading-fourth text-white mb-20 hover-line inline-block">
                        Contact
                    </h3>
                    <h2 class="heading-primary text-white">
                        Get in touch
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div id="layerslider" class="fitvidsignore ls-v6 ls-container ls-fullsize layerslider-loaded" style="width: 1519px; height: 698px; margin-left: 0px; margin-right: auto; position: relative; max-width: none; visibility: visible;" data-layerslider-uid="LSkoa11gp69">


        <div class="ls-inner" style="background: none transparent;"><div class="ls-background-videos"></div><div class="ls-slide-backgrounds"><div class="ls-wrapper ls-bg-outer" style="z-index: 1; width: 1519px; height: 698px;"><div class="ls-wrapper ls-bg-wrap" style="background-color: transparent; display: block; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><img src="~/images/contactuscov.jpg" class="ls-bg" alt="Slide background" data-slidein="1" data-slideout="1" style="margin: 0px; z-index: auto; width: 1519px; height: 868px; padding: 0px; border-width: 0px; border-radius: 0px; x: 0px; y: -85px; transform: translateX(0px) translateY(-85px); filter: none;"></div></div></div><div class="ls-layers"></div></div><div class="ls-gui-element ls-loading-container" style="display: none;"><div class="ls-loading-indicator"></div></div><div class="ls-gui-element ls-shadow" data-parallax="disabled"></div>
    </div>

</div>


<section id="contact-us" class=" our-background">
    <div class="clearfix">
        <div class="col-sm-6 no-pad parallax-holder col-sm-46-percent " style="background-image: url('@Url.Content("~/images/cont.jpg")');">

        </div>
        <div class="col-sm-6 no-pad col-sm-push-6 col-sm-54-percent col-sm-push-46-percent ">
            <div class="content-holder no-before-after bg-white section-gap-50">
                <h2 class="heading-primary style-1">
                    Contact Us
                </h2>
                <h1 style = "color :yellow" ></h1>NEEDS Properties Limited<br>
                <br>
                House-567 (3rd Floor)<br>
                East Kazipara, Rokeya Sharoni,<br>
                Mirpur, Dhaka-1216.<br>
                Bangladesh.<br>
                <br>
                Phone: 02-9004684<br>
                Cell:+88 01711984915, +88 01922198347<br>
                Email: npl_p7@yahoo.com<br>
                Website : www.nplbd.com
                &nbsp;                <!-- <a href="#" class="button button-outline button-outline-skyblue mt-30">Explore</a> -->
            </div>
        </div>
    </div>
</section>
