
@{
    ViewData["Title"] = "Managements";
}

    <div class="banner-slider-wrapper overflow-hidden ls-direction-fix ls-overflow-visible">

        <div class="no-pad project-detail-info fullscreen-content general-page ">
            <div style="background-color: #231F20; margin-bottom: 3.5%" class="overlay-layer"></div>
            <div class="container-fluid full-height full-height-sm ">

                <div class="row  full-height text-center  table-all" style="margin-top: 15%">
                    <div class="col-sm-12 project-short-info full-height full-height-sm table-cell-all table-cell-all-vertical">

                        <h3 class="heading-fourth text-white mb-20 hover-line inline-block">
                            About Us
                        </h3>
                        <h2 class="heading-primary text-white">
                            Board of Directors
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div id="layerslider" class="fitvidsignore ls-v6 ls-container ls-fullsize layerslider-loaded" style="width: 1519px; height: 698px; margin-left: 0px; margin-right: auto; position: relative; max-width: none; visibility: visible;" data-layerslider-uid="LSkoa11gp69">


            <div class="ls-inner" style="background: none transparent;"><div class="ls-background-videos"></div><div class="ls-slide-backgrounds"><div class="ls-wrapper ls-bg-outer" style="z-index: 1; width: 1519px; height: 698px;"><div class="ls-wrapper ls-bg-wrap" style="background-color: transparent; display: block; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><img src="~/images/managements.jpg" class="ls-bg" alt="Slide background" data-slidein="1" data-slideout="1" style="margin: 0px; z-index: auto; width: 1519px; height: 868px; padding: 0px; border-width: 0px; border-radius: 0px; x: 0px; y: -85px; transform: translateX(0px) translateY(-85px); filter: none;"></div></div></div><div class="ls-layers"></div></div><div class="ls-gui-element ls-loading-container" style="display: none;"><div class="ls-loading-indicator"></div></div><div class="ls-gui-element ls-shadow" data-parallax="disabled"></div>
        </div>

    </div>


<section id="board-of-directors" class="pb-0 pt-70 features_amenities no-bg">
    <div class="container-fluid">
        <div class="mb-60">
            <h2 class="heading-primary text-off-white">
            </h2>
        </div>
        <div class="top-management-members row mb-80 image-align-left">
            <div class="col-sm-6 col-md-5 ">
                <div class="image-box-holder">
                    <div class="image-box no-shadow " style="background-image: url('@Url.Content("~/images/Chairman.jpg")');">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 image-box-side-content">
                <div class="feature-details-box-wrapper mb-50">
                    <div class="feature-details mt-20">
                        <div class="mb-30">
                            <h3 class="board-member-title text-uppercase"> Eng. Mostofa Kamal</h3>

                            <h4 class="board-member-desig text-uppercase">Chairman</h4>
                        </div>
                        <div class="line line--full line--1 line--grey mb-20"></div>							<div class="board-member-details">
                                                                                                                    <p>
                                                                                                                        A distinguished and perceptive entrepreneur,  Eng. Mostofa Kamal, the Chairperson of NEEDS Properties Limited, opts to do business by providing world-class products and services in Bangladesh. With his visionary leadership and extensive business knowledge, NEEDS Properties drives forward to not only provide superior quality products and services, but to demonstrate unparalleled foresight by developing iconic projects which are the epitome of modern architecture, safe, functional&nbsp;and comfortable living. The reputation and success of NEEDS Properties are testament to his&nbsp;strong ethics and relentless&nbsp;focus on quality, innovation and social&nbsp;responsibility.<br>
                                                                                                                        <br>
                                                                                                                        Over the past three decades he has established NEEDS Properties Limited as one of the leading corporate houses in Bangladesh,&nbsp;with successful investments in diversified sectors.
                                                                                                                    </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-management-members mb-60 row image-align-right">
            <div class="col-sm-6 col-md-5 col-sm-push-6 col-md-push-7 ">
                <div class="image-box-holder">
                    <div class="image-box no-shadow " style="background-image: url('@Url.Content("~/images/MD1.jpg")');">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-sm-pull-6 col-md-pull-5 image-box-side-content text-right text-left-xs">
                <div class="feature-details-box-wrapper mb-50">
                    <div class="feature-details mt-20">
                        <div class="mb-30">
                            <h3 class="board-member-title text-uppercase">MD. Masud Reza</h3>
                            <h4 class="board-member-desig text-uppercase">Managing Director</h4>
                        </div>
                        <div class="line line--full line--1 line--grey mb-20"></div>
                        <div class="board-member-details">
                            <p>
                                MD. Masud Reza has been a key stakeholder behind the success of NEEDS Properties
                                Limited over the past decades. He is an experienced entrepreneur with a long
                                track record. Under her strong leadership and entrepreneurial spirit, NEEDS Properties has become
                                one of the leading real estate developers in the country.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>


